.container-footer {
    border: 0;
    /* padding: 0; */
    /* border: 1px solid green; */
    height: auto; 
    background: #e4f1f7;
}
.card{
    /* padding-bottom: 22px; */
    border: 0;
    /* background: white; */
    text-align: left;
    font-size: small;
    width: auto;
    /* background: #deca30; */
}
.card-footer {
    padding-top: 10px;
    padding-bottom: 22px;
    border: 0;
    color: #282a28;
    background: #e4f1f7;
}
.text-card-footer  {
    padding: 0;
    margin-top: 1.5rem;
    font-size: small;
    text-align: start;
}
.title-footer{
    text-align: left;
    font-size: medium;
}
.title-card-footer {
    margin-top: 1rem;
    text-align: left;
    color: #bc4f88;
}
.pin-ic{
    margin-top: 12px;
    margin: 8px;
    position:center;
}

.pin-ic-enveloped{
    margin-top: 12px;
    /* margin: 8px; */
    margin-right: 1rem;
    position:center;
}
.iconos-redes-sociales{
    position: relative;
    margin-left: 2.5rem;
}
.text-siguenos{
    margin-top: 10px;
    margin-right: 8px;
    color: green;

}