.container-footer {
    border: 1px solid green;
    height: 200rem; 
    background: #e4f1f7;
}
.card-footer {
    color: #282a28;
}
.text-card-footer  {
    text-align: start;
}
.title-card-footer {
    text-align: left;
}