.container-carousel-principal-slider {
    margin-top: 10rem;
    border-top: 5rem;
    margin-bottom: 5rem;
}
.d-block {
    margin-left: 8rem;
    width: 40rem;
    height: 24rem;
    /* border:1px solid green; */
}

.container-carousel-secundary-slider .d-block {
    width: 20rem;
    height: 12rem;
    margin-left: 8rem;


}
@media screen and (max-width: 960px) {
    .d-block {
        margin-left: auto;
    }
   
}