.container-pricing {
    background-color: white;
    border: 1px solid white;
    z-index: -1;
}
.card-pricing {
    align-content: center;
    padding: auto;
    background-color: violet;
    color: white;
}