.text-title{
    font-size: 3rem;
    text-align: center;
    /* margin-left: 18rem; */
    color: #bc4f88;
    
}
.container-info-team {
    border: 1px solid green;
    height: 20rem;
}
.image-info-team {
    width: 12rem;
}

@media screen and (max-width: 960px){
    .text-propuesta{
        /* margin-top: 12rem; */
    }
}