.imagensvg-infoSection {
    padding: 0;
    /* border-right: 5px; */
    width: 800px;

}
.content-infoSection {
    /* padding: 0; */
    margin-top: 150px;
    /* border: 1px solid rebeccapurple; */
}
.text-infoSection {
    /* margin-left: 8rem; */
    margin-top: 8rem;
    text-align: start;
    /* border: 0; */
    /* padding: 0; */
    /* border: 1px solid whitesmoke; */
    color: whitesmoke;
}
#title-infoSection h1{
    display: inline;
}
@media screen and (max-width: 960px) {
    .text-infoSection{
        margin-left: 0;
    }
    .imagensvg-infoSection{
        width: 500px;
    }

}
