.imagensvg-infoSection {
    padding: 0;
    border-right: 5px;
    width: 800px;

}
.content-infoSection {
    margin-top: 100px;

}
.text-infoSection h1 {
    margin-left: 500px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    margin: auto;
    padding: 10px;
    text-align: center;
}