.container-formContact {
    border-top: 0.5px solid whitesmoke;
    /* background:  ; */
}
.container-form {
    /* border:1px solid green; */
    /* margin: 5rem; */
    margin-top: 5rem;
    margin-bottom: 8rem;
    padding: 4rem;
    
    /* margin-left: 10rem; */
}
.text-contactanos {
    /* border: 1px solid green; */
    padding: 4rem;
    /* margin-right: 10rem ; */
    margin-left: 8rem;
    margin-top: 5rem;
    font-size: 4rem;
    color: #deca30;
    
    
}
.form-inline {
    margin-left: 12rem;
}
.form-inline-check {
    /* border: 1px solid green; */
    margin-top: .5rem;
    margin-left: 3rem;
    

}
.check-conditions {
    padding: 0;
    color: whitesmoke;

}